@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;700&display=swap');

* {
    margin: 0;
    font-family: 'Geologica', sans-serif;
}

body {
    background-color: white;
    height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

li {
    display: inline;
}

header, footer {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    justify-content: space-between;
}

header {
    align-self: flex-start;
}

footer {
    align-self: flex-end;
}

.content {

}
