body {
    background-color: hsl(210deg, 30%, 8%);
}
.container {
    display: flex;
}

.item {
    height: 25px;
    border: 2px gray solid;
    margin: 30px 5px;
    background-color: hsl(212, 32%, 12%);
}

.ball {
    flex:0 0 25px;
    border-radius: 50%;
}

.stretch {
    flex-basis: 0px;
    flex: 1 1 200px;
    border-radius: 16px
}