@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;700&display=swap');

body {
    background: #ddd;
    font-family: 'Geologica', sans-serif;
    padding-top: 100px;
}

.modal {
    background: white;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    font-weight: 300;
    padding: 15px;
    box-shadow: 1px 1px 20px #888888;
    gap: 10px;
}

.icon {
    color: #5966dd;
    font-size: 22px;
    font-weight: bold;
    background-color: #e8eafc;
    height: 40px;
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.texts {
    padding: 0;
    align-items: flex-start;
}
.head_n_cancel {
    display: flex;
    align-items: flex-start;
}
.close-button {
    flex: 0 0 20px;
    border-radius: 50%;
    background: #cccccc;
    height: 20px;
    text-align: center;
    margin-left: auto;
}

h3 {
    align-self: flex-start;
    margin: 0;
    margin-bottom: 15px;
}

button {
    font-family: 'Geologica', sans-serif;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
}
.continue {
    background-color: #5966dd;
    color: white;
}
.cancel {
    background-color: white;
    border: 1px grey solid;
    color: #5966dd;
}
