body {
    background-color: rgb(2, 3, 10);
    font-weight: bold;
}

.container {
    height: 400px;
    width: 400px;
    display: flex;
    border: 2px double white;
    background-color: rgb(33, 107, 168);
}

.content {
    flex: 0 0 70px;
    height: 70px;
    margin: auto;
    border: 4px solid rgb(90, 6, 6);
    background-color: pink;
    padding: 1px;
}