body {
    background-color: #040411;
}

.container {
    background-color: #080822;
    height: 500px;
    width: 500px;
    display: flex;
    border: 1px grey solid;
    border-radius: 5px;
    padding: 3px;
}

.item {
    flex: 0 0 60px;
    border-radius: 3px;
    border: 1px solid grey;
    margin: 3px;
}

.item.one {
    background-color: yellow;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}