* {
    top: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu_bar {
    background-color:#1e0785;
    text-align: center;
}

.menu_bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu_bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu_bar ul li a {
    text-decoration: none;
    color: white;
}

.home, .menu_bar ul li:hover {
    background-color: #2407a5;
    border-radius: 3px;
    font-weight: bold;
}

.fa {
    padding-right: 8px;
}

.sub_services {
    display: none;
}

.menu_bar ul li:hover .sub_services {
    display: block;
    position: absolute;
    background:#1e0785;
    margin-top:12px;
    margin-left: -15px;
}

.menu_bar ul li:hover .sub_services ul {
    display: block;
    margin: 8px;
}

.menu_bar ul li:hover .sub_services ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu_bar ul li:hover .sub_services ul li:last-child {
    border-bottom: none;
}

.menu_bar ul li:hover .sub_services ul li a:hover {
    color:#e29608;
}

.fa-angle-right {
    float: right;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}
.content {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 50px;
}

.content a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid white;
    padding: 15px 55px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover {
    color: black;
    background-color: white;
}

.background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
